# Helpful Python Libraries

In [2]:
import numpy as np
import pandas as pd

df=pd.DataFrame(np.random.rand(100, 5),columns=['a', 'b', 'c', 'd', 'e'])
df.describe()

                a           b           c           d           e
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.522961    0.533494    0.481151    0.516559    0.486790
std      0.294912    0.301768    0.289695    0.287408    0.299391
min      0.019691    0.011712    0.020240    0.007294    0.005713
25%      0.239229    0.238932    0.269251    0.275509    0.224535
50%      0.564171    0.566497    0.441004    0.593134    0.508360
75%      0.764419    0.794671    0.711349    0.752099    0.727623
max      0.996452    0.999467    0.996037    0.992648    0.986930

In [3]:
#pandas_profiling.ProfileReport(df)

In [33]:
import pandas_profiling
#df.profile_report(style={'full_width':True})

#To retrieve the list of variables which are rejected due to high correlation:
profile = pandas_profiling.ProfileReport(df) #,style={'full_width':True})
rejected_variables = profile.get_rejected_variables(threshold=0.9)

#To retrieve the list of variables with high skewness:
descr = profile.get_description()
skewness_df = pd.DataFrame(descr['variables']['skewness']) 

skewed_variables = skewness_df.loc[abs(skewness_df['skewness']) > 0.04]
descr #skewed_variables

#mean = pd.DataFrame(descr['variables']["mean"]) 
typ = pd.DataFrame(descr['variables']["type"]) 
#mean.columns.values
typ

  type
a  NUM
b  NUM
c  NUM
d  NUM
e  NUM

In [8]:
#profile = pandas_profiling.ProfileReport(df)
profile.to_file(outputfile="output2.html")